[user]
  name = taketaku
  email = vbvbsp48@gmail.com
[alias]
  co = checkout
  fe = fetch
  st = status
  ci = commit -a -v
  br = branch
[core]
  editor = vi
[push]
  default = current
[github]
	user = taketaku